
.swagger-get,
.swagger-post,
.swagger-put,
.swagger-delete,
.swagger-patch,
.swagger-head,
.swagger-options {
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    border-color: var(--swagger-color);
}

pre[class*="swagger-"] {
    padding: 10px 10px 10px 1em;
    font-weight: bold;
    font-size: large;
    margin: 0 0 0.5em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


span.swagger-verb {
	color: white;
    background: var(--swagger-color);
    border-radius: 3px;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em;
    font-family: var( --bs-font-sans-serif, sans-serif);
    font-size: medium;
    margin-left: 1em;
    margin-right: 1em;
}

span.swagger-summary {
    font-family: var( --bs-body-font-family, sans-serif);
    font-weight: var( --bs-body-font-weight, normal);
    margin-left: 0.5em;
}

[class*="swagger-"] p,
[class*="swagger-"] section {
    margin: 1rem;
}
