<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="fox.jason.passthrough.swagger" version="1.0.0">
	<!--
		This plugin requires Pandoc, the XMLTask lib and the passthrough reader
	-->
	<require plugin="org.doctales.xmltask"/>
	<require plugin="fox.jason.passthrough"/>
	<require plugin="fox.jason.passthrough.pandoc"/>

	<feature extension="dita.conductor.lib.import" file="lib/swagger2markup-cli-1.3.3.jar"/>
	<feature extension="ant.import" file="process_swagger.xml"/>

	<feature extension="fox.jason.passthrough.pre" value="swagger.process.pre"/>
	<feature extension="fox.jason.passthrough.process" value="swagger.process"/>

	<feature extension="dita.parser">
		<parser format="swagger" class="fox.jason.passthrough.parser.FileReader"/>
	</feature>
</plugin>