<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
	This file is part of the DITA-OT Swagger Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.passthrough.swagger" version="1.3.0">
	<feature extension="dita.conductor.lib.import" file="lib/swagger2markup-cli-2.0.0.jar"/>
	<feature extension="dita.conductor.lib.import" file="lib/passthrough.swagger-2.0.jar"/>
	<feature extension="ant.import" file="process_swagger.xml"/>
	<!--
		This plugin requires Pandoc and the passthrough reader.
		The swagger CSS/FOP processing is used to display the colored bars
	-->
	<require plugin="fox.jason.passthrough"/>
	<require plugin="fox.jason.passthrough.pandoc"/>
	<require plugin="fox.jason.extend.css"/>

	<!-- PDF extension point -->
	<feature extension="dita.xsl.xslfo" value="xsl/xslfo.xsl" type="file"/>
	<!-- HTML5 extension points -->   
	<feature extension="dita.xsl.html5" value="xsl/xhtml.xsl" type="file"/>
	<feature extension="dita.xsl.xhtml" value="xsl/xhtml.xsl" type="file"/>

	<!-- Uses the Extended CSS extension point -->
	<feature extension="extend.css.process" value="swagger.css.copy"/>
	<!-- Uses the passthrough extension point and file reader -->
	<feature extension="dita.parser">
		<parser format="swagger" class="fox.jason.passthrough.SwaggerFileReader"/>
	</feature>
	<!-- Ensure the plugin's error and logging messages are available -->
	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>
</plugin>